<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Student Database</h1>
    <a href="{% url 'add_student' %}">Add a Student</a>
    <a href="{% url 'student_list' %}">View Students</a>


    <div class="container">
        <h1 class="text-primary">Welcome to My Django Project</h1>
        <button class="btn btn-success">Click Me</button>
    </div>
</body>
</html>
